<div class="row main">
    <div class="page-header">
      <h1>vm-nigiri</h1>
    </div>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="input-group">
<!--           <div class="col-md-12">
            <div class="row">
              <div class="col-md-1">1</div>
              <div class="col-md-1">1</div>
              <div class="col-md-1">1</div>
              <div class="col-md-1">1</div>
              <div class="col-md-1">1</div>
              <div class="col-md-1">1</div>
              <div class="col-md-1">1</div>
              <div class="col-md-1">1</div>
            </div>
          </div>
 -->
          <table id="instances">
            <tr>
              <th>id</th>
              <th>name</th>
              <th>ip</th>
              <th>machine</th>
              <th>disk_size</th>
              <th>memory</th>
              <th>macaddr</th>
              <th>status</th>
              <th>&nbsp;</th>
            </tr>
            <tr class="trow">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><input type="button" value="button" /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-left">
          vm-nigiri application
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert fade text-left"></div>
    </div>
</div>
