<div class="row main">
    <div class="page-header">
      <h1>vm-nigiri</h1>
    </div>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="input-group">
          <p>application</p>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-left">
          vm-nigiri application
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert fade text-left"></div>
    </div>
</div>
