<div class="row main">
    <div class="page-header">
      <h1>Call from MAC .... </h1>
    </div>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-phone"></span>
          <input type="tel" class="form-control" id="tel" placeholder="telephone number..." require="require" />
          <span class="input-group-btn">
            <button class="btn btn-primary" id="call" data-loading-text="Loading...">call</button>
          </span>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-left">
            本アプリケーションはジョークアプリケーションです。<br />
            特定の政治団体等には一切関係ございません。
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert fade text-left"></div>
    </div>
</div>
